<a href="https://colab.research.google.com/github/sivamsinghsh/-Startup-Landing-Page-Updates/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Data Types
# Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.
# Strings
# Anything that comes under double quote or single quotes comes under the catogary of string.
#For Example
print('Hello'+'Alpha')
print("Hello"+"Alpha")

HelloAlpha
HelloAlpha

In [12]:
# Subscript
# The method of pulling out a particular elements from a string is called as subscript and the number between the square bracket determines which character you are gonna pull out.
# The Subscript just goes up from zero to one and two and so on and so forth.So, whenever you get a result that is just off by one then remeber to check whether if you've started counting from zero or if you started counting from one
print("Hello"[0])
print("Hello"[1])
print("Hello"[2])
print("Hello"[3])
print("Hello"[4])
# print("Hello"[5]) when you try to print this it will show an error by saying string index out of range.

H
e
l
l
o

In [15]:
#Integers
# Numbers without any decimal places are considered as integers.
print(123+345)
print(123_456_32+232_34) # Computer actually remove those underscore and ignores it, while for us it gives us an ability to easily enter values for data in better way

468
12368866

In [19]:
# Float
# When we have to deal with decimal values it comes under the catogary of floating point numbers.The floating point can be start anywhere around the number.
# Python doesn't have an inbuilt double data type but it has a float data type that works and deals with floating values.
print(123.34)

123.34

In [23]:
# Boolean
# The boolean data type can have only two values which can be either true or false
print(10==9)
print(8>5)
a=5
b=7
print(a>b)

False
True
False